<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>

  <header>
    <h1>Bienvenido a la página principal</h1>
    <form method="GET" action="/">
      <label for="category">Filtrar por categoría:</label>
      <select name="query" id="category">
        <option value="">Selecciona una categoría</option>
        <option value="Anillos" {{#if (eq query "Anillos")}}selected{{/if}}>Anillos</option>
        <option value="Aros" {{#if (eq query "Aros")}}selected{{/if}}>Aros</option>
        <option value="Pulseras" {{#if (eq query "Pulseras")}}selected{{/if}}>Pulseras</option>
      </select>
      <button type="submit">Filtrar</button>
    </form>
  </header>

  <main>
    <h2>Lista de productos</h2>
    <ul>
      {{#each products}} 
        <li>
          <strong>Producto: </strong>{{this.title}} 
          <strong>Precio: </strong>{{this.price}} 
          <strong>Categoría: </strong>{{this.category}} 
          <strong>Descripción: </strong>{{this.description}} 

          <form action="/api/carts/{{this._id}}/products" method="POST">
            <button type="submit">Agregar al carrito</button>
          </form>
        </li>
      {{/each}}
    </ul>

    <div class="pagination">
      {{#if hasPrevPage}}
        <a href="?page={{prevPage}}&limit={{limit}}&query={{query}}&sort={{sort}}">Anterior</a>
      {{/if}}

      <span>Página {{currentPage}} de {{totalPages}}</span>

      {{#if hasNextPage}}
        <a href="?page={{nextPage}}&limit={{limit}}&query={{query}}&sort={{sort}}">Siguiente</a>
      {{/if}}
    </div>
  </main>

</body>
</html>